<<<<<<< HEAD
.thumbsControl:checked + span{
    color: #83BF17;
}

.thumbsControl:checked + span:hover{
    color: #8bbfa0;
}

.thumb{
    cursor: pointer;
    font-size: 20px;
    color: #808080;
    margin-right: 4px;
    margin-left: 10px;
}

.thumb:hover{
    color:#575757;
}

.thumbsControl{
    display: none;
=======
.thumbsControl:checked + span{
    color: #83BF17;
}

.thumbsControl:checked + span:hover{
    color: #8bbfa0;
}

.thumb{
    cursor: pointer;
    font-size: 20px;
    color: #808080;
    margin-right: 4px;
    margin-left: 10px;
}

.thumb:hover{
    color:#575757;
}

.thumbsControl{
    display: none;
>>>>>>> 4eb156c4e71ee4fba18e827d1a2045472e58c3f7
}